@import "~@flaticon/flaticon-uicons/css/all/all";
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  @apply h-screen w-screen overflow-hidden scroll-smooth;
}

img{
  @apply w-full h-full object-center object-cover;
}

section{
  @apply p-4 relative;
}

#navSection{
  @apply bg-[#202022];
}

.fi{
  @apply flex;
}

.icon-hover{
  @apply hover:bg-[#464646] text-[#f8f8f8];
}

.nav-icon{
  @apply text-[#898989] hover:text-[#f8f8f8] hover:bg-[#464646] flex flex-col justify-center items-center gap-1 max-w-full w-[80px] h-[80px] rounded-lg ;
}

.icon-selected{
  @apply bg-[#464646] text-[#f8f8f8] ;
}


.custom-scrollbar::-webkit-scrollbar{
  width: 2px;
  height: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb{
  background-color: #464646;
}

.no-scrollbar::-webkit-scrollbar{
  width: 0;
  height: 0;
}