@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "~@flaticon/flaticon-uicons/css/all/all";
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  @apply m-0 p-0 box-border scroll-smooth transition-all selection:bg-green-300 selection:text-white;
}

body{
  @apply w-screen overflow-x-hidden dark:text-white dark:bg-[#151b28] scroll-smooth text-slate-600 selection:bg-green-300 selection:text-white transition-all;
}

input{
  @apply dark:bg-transparent
}

img{
  @apply w-full h-full object-center object-cover;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Poppins", sans-serif;
}

section{
  @apply p-4 relative;
}

#navSection{
  @apply bg-[#202022];
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fi{
  @apply flex items-center justify-center;
}

.icon-hover{
  @apply hover:bg-[#464646] text-[#f8f8f8];
}

.nav-icon{
  @apply hover:text-green-500 text-lg;
}

.icon-selected{
  @apply text-green-500 border-l-4 border-green-500;
}

.file-icon{
  @apply text-2xl text-slate-500;
}

/* .icon-selected{
  @apply bg-[#464646] text-[#f8f8f8] ;
} */


.custom-scrollbar::-webkit-scrollbar{
  width: 2px;
  height: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb{
  background-color: #464646;
}

.no-scrollbar::-webkit-scrollbar{
  width: 0;
  height: 0;
}

.input-fill{
  @apply autofill:shadow-[inset_0_0_0px_1000px_#dcfce7] dark:bg-transparent outline-none;
}